@font-face {
    font-family: 'Bahnschrift';
    src: url('Fonts/BAHNSCHRIFT.TTF') format('truetype');
}

html {
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}

table {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

#headline {
    max-height: 1000px;
    max-width: 100%;
}

body {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Bahnschrift', sans-serif;
    padding-top: 50px;
}

button {
    font-family: 'Bahnschrift', sans-serif;
}

.container {
    display: flex;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#infographic {
    max-width: 650px;
    max-height: 650px;
    width: 55%;
    height: 55%;
    margin: 0 auto;
}

.map {
    width: 55%;
    height: 850px;
}


.pmentchart {
    width: 100%;
}

.scroll-container {
    width: 50%;
    aspect-ratio: 1/1;
    overflow-y: auto;
}

.sectiontitle {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #222222;
}

.timeline.polls {
    max-width: 1200px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    display: none;
    min-height: 590px;
}

.timeline.projection {
    max-width: 1200px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
}

.excelsheet.regular {
    max-width: 1200px;
    margin: 0 auto
}

.excelsheet.regionalproj {
    max-width: 1150px;
    margin: 0 auto
}

.excelsheet.regional {
    max-width: 925px;
    margin: 0 auto;
}

.excelsheet.polls {
    max-width: 1100px;
    margin: 0 auto;
    display: none;
}

.excelsheet.polls.sctwal {
    max-width: 1000px;
}

.excelsheet.polls.london {
    max-width: 950px;
}

.excel-embed {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 10;
}




.title-bar {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgba(51, 117, 224, 0.6);
    font-size: 30px;
    padding: 10px;
    text-align: left;
    padding-left: 5%;
    color: white;
    font-weight: 50;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition-duration: 0.4s;
    text-decoration: none;
    z-index: 999;
    align-items: left;
    min-height: 40px;
}

#logo {
    position: absolute;
    align-items: right;
    text-align: right;
    padding: 12.5px;
    top: 0;
    right: 5%;
    padding-right: 5%;
    z-index: 1000;
    height: 30px;
}

a {
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.title-bar a{
    color: white;
}

.title-bar:hover {
    background: rgba(223, 37, 37,0.85);
}

a:hover {
    transition-duration: 0.4s;
    font-weight: 650;
    cursor: pointer;
}

#socialsdropdown {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

#socialsdropdown:hover {
    color: white;
    transition-duration: 0.4s;
    font-weight: 900;
}

.titlebarlogo {
    font-weight: 900;
}

#titlebartext {
    width: 75%;
    align-items: left;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition-duration: 0.4s;
}

.dropdown-content {
    /*display: none;*/
    opacity: 0;
    position: absolute;
    visibility: hidden;
    background-color: rgba(51, 117, 224,0.85);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    padding: 12px 16px;
    z-index: 9999;
    border-radius: 10px;
    transition-duration: 0.4s;
    /*transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;*/
    text-decoration: none;
    margin: 0 auto;
    text-align: left;
    font-size: 25px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.dropdown:hover .dropdown-content{
    /*display: block;*/
    opacity: 1;
    visibility: visible;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition-duration: 0.4s;
}

.dropdown-content:hover {
    background-color:rgba(223, 37, 37,0.85);
    transition-duration: 0.4s;
}

.dropdownsubheading {
    transform: translateY(5px);
    font-weight: 500;
}

.mobile-title-bar {
    display: none;
}

#footer {
    font-size: 15px;
    padding: 30px;
    text-align: center;
}

p {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    margin: 0 auto;
    max-width: 1200px;
}

.disclaimer {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.aboutcontainer table {
    width: 100%;
    table-layout: fixed;
}

.aboutcontainer.about {
    width: calc(100% - 480px);
}

.aboutcontainer.socials {
    width: 480px;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.aboutcontainer.socials button {
    background-color:rgba(51, 117, 224,0.85);
    font-family: 'Bahnschrift', sans-serif;
    width: 80%;
    border-radius: 40px;
    transition-duration: 0.4s;
    color: white;
    margin: 3px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.9);
    transform: translateY(-3px);
}

.aboutcontainer.socials button:hover {
    background-color:rgba(223, 37, 37,0.85);
    font-weight: 900;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.9);
}

.pollsoptionbox {
    margin: 0 auto;
    background-color: #cccccc;
    max-width: 600px;
    width: 100%;
    border-radius: 30px;
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.6);
}

.pollsoptionbox button {
    background-color: rgba(0,0,0,0);
    font-family: 'Bahnschrift', sans-serif;
    width: 23%;
    height: 40px;
    border-radius: 30px;
    transition-duration: 0.4s;
    color: white;
    margin: 3px;
    margin-top: 9px;
    margin-bottom: 9px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    font-weight: 400;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
}

.pollsoptionbox button:hover {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.9);
    background-color: rgba(51, 117, 224,0.85);
    font-weight: 900;
    text-shadow: none;
}

.pollsoptionbox button:active {
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.9);
    background-color: rgba(223, 37, 37,0.85);
    text-shadow: none;
}

#pollsNationwide {
    display: block;
}

#tlNationwide {
    display: block;
}

.refreshbtn {
    position: relative;
    width: 100%;
    z-index: 100;
    transform: translateY(-30px);
    height: 30px;
}



@media (max-width: 1240px) {
    .excel-embed {
        zoom: 0.8;
        display: block;
        margin: 0 auto;
        height: 750px;
        overflow: auto;
    }

    .excelsheet {
        width: 100%;
        margin: 0 auto;
        height: calc(750px * 0.8);
    }

    .excelsheet.regular {
        max-width: calc(1200px * 0.8);
    }

    .excelsheet.regionalproj {
        max-width: calc(1150px * 0.8);
    }

    .excelsheet.regional {
        max-width: calc(925px * 0.8);
    }

    .excelsheet.polls {
        max-width: calc(1100px * 0.8);
    }

    .excelsheet.polls.sctwal {
        max-width: calc(1000px * 0.8);
    }

    .excelsheet.polls.london {
        max-width: calc(950px * 0.8);
    }
}

@media (max-width: 1150px) {

    .title-bar {
        padding-top: 14px;
        padding-bottom: 6px;
        font-size: 25px;
        font-stretch: semi-condensed;
        min-height: 40px;
    }


}

@media (max-width: 1000px) {

    .refreshbtn {
        transform: translateY(-20px);
        height: 20px;
    }

    .container {
        flex-direction: column;
        margin: 0 auto;
    }

    .map {
        width: 100%;
    }

    .scroll-container {
        width: 70%;
        max-width: 700px;
        margin: 0 auto;
    }

    .flourish-embed.flourish-parliament {
        zoom: 0.9;
        width: 100%;
        margin: 0 auto;
    }

    #infographic {
        width: 100%;
        margin: 0 auto;
    }

    .aboutcontainer.about {
        width: 100%;
    }

    .aboutcontainer.socials {
        width: 80%;
    }

    .aboutcontainer.socials button {
        font-size: 30px;
    }

    .excel-embed {
        /*transform: scale(0.6);*/
        zoom: 0.6;
        display: block;
        /*transform-origin: center top;*/
        /*width: 100%;*/
        margin: 0 auto;
        height: 750px;
        /*margin-left: -22.5%;*/
        overflow: auto;
    }

    .excelsheet {
        width: 100%;
        margin: 0 auto;
        height: 450px;
    }

    .excelsheet.regular {
        max-width: calc(1200px * 0.6)
    }

    .excelsheet.regionalproj {
        max-width: calc(1150px * 0.6)
    }

    .excelsheet.regional {
        max-width: calc(925px * 0.6)
    }

    .excelsheet.polls {
        max-width: calc(1100px * 0.6)
    }

    .excelsheet.polls.sctwal {
        max-width: calc(1000px * 0.6)
    }

    .excelsheet.polls.london {
        max-width: calc(950px * 0.6)
    }

    .dropdown-content {
        min-width: 225px;
    }

    .mobile-device .pollsoptionbox {
        max-width: 100%;
        border-radius: 100px;
    }

    .mobile-device .pollsoptionbox button {
        font-size: 40px;
        height: 80px;
        border-radius: 40px;
    }

    .mobile-device .aboutcontainer.socials {
        width: 95%;
    }

    .mobile-device .disclaimer {
        font-size: 30px;
    }

    .mobile-device .socialstabletitles {
        font-size: 55px;
    }

    .mobile-device .aboutcontainer.socials button {
        width: 90%;
        font-size: 50px;
        height: 100px;
    }

    .mobile-device .excel-embed {
        zoom: 1;
        height: 1200px;
    }

    .mobile-device .excel-embed.regular {
        zoom: 0.8;
    }

    .mobile-device .excel-embed.regionalproj {
        zoom: 0.8;
    }

    .mobile-device .excelsheet {
        height: 1200px;
    }

    .mobile-device .excelsheet.regular {
        height: calc(1200px * 0.8);
        max-width: calc(1200px * 0.8);
    }

    .mobile-device .excelsheet.regionalproj {
        height: calc(1200px * 0.8);
        max-width: calc(1150px * 0.8);
    }

    .mobile-device .excelsheet.regional {
        max-width: 925px;
    }

    .mobile-device .excelsheet.polls {
        max-width: 1100px;
    }

    .mobile-device .excelsheet.polls.sctwal {
        max-width: 1000px;
    }

    .mobile-device .excelsheet.polls.london {
        max-width: 950px;
    }

    .mobile-device .map {
        zoom: 2.5;
        height: 600px;
    }

    .mobile-device .timeline.polls {
        max-width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .mobile-device .timeline.projection {
        max-width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .mobile-device .flourish-embed {
        zoom: 2.25;
    }

    .mobile-device .scroll-container {
        aspect-ratio: 1/1.5;
        max-width: 90%;
        width: 90%;
    }

    .mobile-device .title-bar {
        font-size: 60px;
        font-stretch: condensed;
    }

    .mobile-device #infographic {
        max-width: 90%;
        max-height: 90%;
        aspect-ratio: 1/1;
        padding-top: 70px;
    }

    .mobile-device .dropdown-content {
        font-size: 50px;
        min-width: 400px;
    }

    .mobile-device .contianer {
        max-width: 95%;
    }

    .mobile-device #logo {
        height: 50px;
        padding: 50px;
    }

    .mobile-device .title-bar{
        display: none;
    }

    .mobile-device .mobile-title-bar {
        align-items: left;
        position: fixed;
        display: block;
        transition-duration: 0.4s;
        z-index: 9999;
        top: 0;
        left: 0;
        padding-left: 30px;
        padding-top: 30px;
        font-family: 'Bahnschrift', sans-serif;
        width: 80%;
    }

    .mobile-device #mobiletitlesbutton {
        top: 0;
        left: 0;
        border-radius: 40px;
        border-width: 0px;
        min-width: 200px;
        min-height: 100px;
        background-color:rgba(51, 117, 224, 0.6);
        font-size: 50px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        transition-duration: 0.4s;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
        align-items: left;
        font-family: 'Bahnschrift', sans-serif;
        display: block;
    }

    .mobile-device #mobiletitletext {
        margin-top: 10px;
        display: none;
        visibility: hidden;
        max-width: 100%;
        position: absolute;
        background-color:rgba(223, 37, 37,0.85);
        min-width: 90%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
        padding: 12px 16px;
        z-index: 9999;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        transform: translateY(-10px);
        transition-duration: 0.4s;
        text-align: left;
        font-size: 40px;
    }

    .mobile-device a {
        text-decoration: none;
        color: white;
    }

    .mobile-menu-active #mobiletitletext {
        opacity: 1;
        visibility: visible;
        display: block;
        transition-duration: 0.4s;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .title-bar {
        font-stretch: condensed;
    }

    .dropdown-content {
        min-width: 200px;
    }
}

.ipad-device .title-bar {
    font-size: 60px;
    font-stretch: condensed;
}

.ipad-device #infographic {
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1/1;
    padding-top: 70px;
}

.ipad-device .dropdown-content {
    font-size: 50px;
    min-width: 400px;
}

.ipad-device .contianer {
    max-width: 95%;
}

.ipad-device #logo {
    height: 50px;
    padding: 50px;
}

